body {
  font-family: 'Lato', sans-serif;
}

.outer-form-wrap {
  padding: 10px 10px 10px 10px;
  background-color:white;
  border-radius: 6px 6px 6px 6px;
}

.outer-form-wrap > h1 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.forgotten-form-wrap > h2 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.forgotten-form-wrap > div > label {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.forgotten-form-wrap > p {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.forgotten-form-wrap input {
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  cursor: text;
  padding: 12px 20px;
}

.forgotten-form-wrap input[type="radio"] {
    margin: 5px 0 5px 0;
}

.forgotten-form input[type="email"], .login-form input[type="password"], .login-form input[type="text"] {
  border-style: solid;
  border-color: black;
  border-width: 1px; 
  color: #000000;
  margin: 8px 0 8px 0;
  border-radius: 4px 4px 4px 4px;
  width: 250px;
  padding-bottom: 20px;
}

.forgotten-form input[type="submit"] {
    background-color: #009FE3;
    color: white;
    font-size: 17px;
    font-weight: 700;
    border: none;
    outline: none;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    border-radius: 6px 6px 6px 6px;
}

p.instruction-label {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-style: italic;
}
