<section id="LoginForm" class="login-form-wrap">
    <h1><i class="fa fa-user-circle-o" aria-hidden="true"></i>LOGIN</h1>
    <div *ngIf="displayRegister==='true'">
        <input type="radio" name="options" (click)="formOptions.state = 0" [checked]="0 === formOptions.state" id="Existing" value="Existing" /><label for="Existing">I am an existing user</label><br />
        <input type="radio" name="options" (click)="formOptions.state = 1" [checked]="1 === formOptions.state" id="New" value="New" /><label for="New">I am a new user</label>
    </div>
    <form *ngIf="formOptions.state === 0" class="login-form" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
        <p class="instruction-label">Please sign in below using your account details</p>
        <p class="error-msg">{{loginError}}</p>
        <div class="field" [class.error]="!myForm.get('email').valid && myForm.get('email').touched">
            <label>
                <input type="email" id="emailInput" placeholder="e-mail" formControlName="email">
            </label>
        </div>
        <div class="field" [class.error]="!myForm.get('password').valid && myForm.get('password').touched">
            <label>
                <input type="password" id="passwordInput" placeholder="Password" formControlName="password">
            </label>
        </div>
        <div class="forgotten-link">
            <a [routerLink]="['/auth/forgottenpassword']">Forgotten your password?</a>
        </div>
        <div>
            <input type="submit" value="Sign In" [disabled]="!myForm.valid">
        </div>
    </form>

    <form *ngIf="formOptions.state === 1" class="login-form" [formGroup]="registrationForm" (ngSubmit)="onRegister(registrationForm.value)">
        <p class="error-msg">{{registrationError}}</p>
        <div class="field" [class.error]="!registrationForm.get('forename').valid && registrationForm.get('forename').touched">
            <label>
                <input type="text" id="forenameInput" placeholder="Forename" formControlName="forename">
            </label>
        </div>
        <div class="field" [class.error]="!registrationForm.get('surname').valid && registrationForm.get('surname').touched">
            <label>
                <input type="text" id="surnameInput" placeholder="Surname" formControlName="surname">
            </label>
        </div>
        <div class="field" [class.error]="!registrationForm.get('email').valid && registrationForm.get('email').touched">
            <label>
                <input type="email" id="emailInput" placeholder="e-mail" formControlName="email">
            </label>
        </div>
        <div class="field" [class.error]="!registrationForm.get('password').valid && registrationForm.get('password').touched">
            <label>
                <input type="password" id="passwordInput" placeholder="Password" formControlName="password">
            </label>
        </div>
        <div class="field" [class.error]="!registrationForm.get('confirmpassword').valid && registrationForm.get('confirmpassword').touched">
            <label>
                <input type="password" id="confirmpasswordInput" placeholder="Confirm Password" formControlName="confirmpassword">
            </label>
        </div>
        <input type="submit" value="Register" [disabled]="!registrationForm.valid">
    </form>
</section>
