<!DOCTYPE html>
<html>
<head>
    <title>Authentication</title>
    <script type="text/javascript" src="/scripts/easyXDM/easyXDM.min.js"></script>
    <script type="text/javascript">
    easyXDM.DomHelper.requiresJSON("/scripts/json2.js");
    </script>
</head>
<body>
    <img src="/Images/PleaseWait.gif" alt="Please Wait" />
</body>
</html>

