body {
  font-family: 'Lato', sans-serif;
  font-size:14px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.reset-form-outer > h1 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.reset-form-wrap > h2 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.reset-form-wrap > div > label {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.reset-form-wrap > p {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.reset-form-wrap input {
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  cursor: text;
  padding: 12px 20px;
}

.reset-form input[type="password"] {
  border-style: solid;
  border-color: black;
  border-width: 1px; 
  color: #000000;
  margin: 8px 0 8px 0;
  border-radius: 4px 4px 4px 4px;
  width: 250px;
  padding-bottom: 20px;
}

.reset-form input[type="submit"] {
    background-color: #009FE3;
    color: white;
    font-size: 17px;
    font-weight: 700;
    border: none;
    outline: none;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    border-radius: 6px 6px 6px 6px;
}

.outer-box {
  width:100%;
}

.centred-box {
  width:300px;
  margin-left:auto;
  margin-right:auto
}

#header-details {
  float:right;
  text-align:right;
  color:#159ed9;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: .95em;
  padding-top:10px;
  padding-right:10px;
}

#header-details > a {
  text-decoration:none;
  color:#159ed9;
}

strong {
  font-weight:700;
}

#navbar {
    width:100%;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border-top: 5px solid #6acef2;
    border-bottom: 0;
    background-color: #159ed9;
    margin-bottom: 0;
}

a.imagelink {
  text-decoration:none;
}

.error-message {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color:red;
}
