<section class="outer-form-wrap">
    <h1><i class="fa fa-user-circle-o" aria-hidden="true"></i> HIGHFIELD LOGIN</h1>
    <section id="LoginForm" class="forgotten-form-wrap" *ngIf="forgottenOptions.state === 0">
        <h2>FORGOTTEN PASSWORD</h2>
        <form class="forgotten-form" [formGroup]="forgottenForm" (ngSubmit)="onSubmit(forgottenForm.value)">
            <p class="instruction-label">Please enter your email address to reset your password</p>
            <div class="field" [class.error]="!forgottenForm.get('email').valid && forgottenForm.get('email').touched">
                <label>
                    <input type="email" id="emailInput" placeholder="e-mail" formControlName="email">
                </label>
            </div>
            <input type="submit" value="Reset Password" [disabled]="!forgottenForm.valid">
        </form>
    </section>
    <section id="ReminderSent" class="forgotten-form-wrap" *ngIf="forgottenOptions.state === 1">
        <p>An email has been sent to your email address containing instructions on how to reset your password.</p>
    </section>
    <section id="ReminderSent" class="forgotten-form-wrap" *ngIf="forgottenOptions.state === 2">
        <p>An error has occured. Please try again later.</p>
    </section>
</section>
