<div class="outer-box">
    <div id="header">
        <a href="https://www.highfieldabc.com" class="imagelink"><img src="/Images/highfieldabc-logo.png" alt="Highfield Awarding Body for Compliance" /></a>
        <div id="header-details">
            <strong>Highfield Awarding Body</strong> for <strong>Compliance</strong><br />
            The awarding body that listens and responds<br /><br />
            <strong><i>Phone:</i></strong> 0845 2260350 / 01302 363277 <strong><i>Email:</i></strong> <a href="mailto:info@highfieldabc.com">info@highfieldabc.com</a>
        </div>
    </div>
    <div id="navbar">
    </div>
    <div class="centred-box">
        <section class="reset-form-outer">
            <h1>HIGHFIELD AUTHENTICATION</h1>
            <section id="ResetForm" class="reset-form-wrap" *ngIf="resetOptions.state === 0">
                <h2>RESET PASSWORD</h2>
                <p>Welcome {{fullName}}</p>
                <form class="reset-form" [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm.value)">
                    <div class="field" [class.error]="!resetForm.get('password').valid && resetForm.get('password').touched">
                        <label>
                            <input type="password" id="passwordInput" placeholder="Password" formControlName="password">
                        </label>
                    </div>
                    <div id="password-strength">
                        <password-strength-bar [passwordToCheck]="resetForm.get('password').value"></password-strength-bar>
                    </div>
                    <div class="field" [class.error]="!resetForm.get('confirmpassword').valid && resetForm.get('confirmpassword').touched">
                        <label>
                            <input type="password" id="confirmpasswordInput" placeholder="Confirm Password" formControlName="confirmpassword">
                        </label>
                    </div>
                    <div *ngIf="resetForm.errors?.areEqual" class="error-message">
                        Passwords do not match.
                    </div>
                    <input type="submit" value="Set Password" [disabled]="!resetForm.valid">
                </form>
            </section>
            <section id="ResetComplete" class="reset-form-wrap" *ngIf="resetOptions.state === 1">
                <p>Your password has now been reset.</p>
                <p>Please choose one of the links below to continue:</p>
                <p><a href="https://centres.highfieldabc.com">centres.highfieldabc.com</a></p>
                <p><a href="https://centres.highfieldabc.ae">centres.highfieldabc.ae</a></p>
            </section>
            <section id="ResetInvalid" class="reset-form-wrap" *ngIf="resetOptions.state === 2">
                <p class="error-message">{{errorMessage}}</p>
            </section>
        </section>
    </div>
</div>
