<div id="loggedIn" *ngIf="currentuser!=null">
    <div class="LoggedInMessage">Welcome {{currentuser.FirstName}} {{currentuser.LastName}}</div>
    <div class="LoggedInMenu">
        <a class="AuthLink">My Account</a>
        <a class="AuthLink">Change Password</a>
        <a class="AuthLink" (click)="logoutClick()">Logout</a>
    </div>
</div>
<div id="loggedOut" *ngIf="currentuser==null">
    <a class="AuthLink" (click)="loginClick()">Login/Register</a>
</div>
<div id="openModal" class="modalDialog" [class.modalDialogVisible]="isLoginVisible">
    <div>
        <a title="Close" class="close" (click)="closeLoginClick()">X</a>
        <iss-authentication-login-page></iss-authentication-login-page>
    </div>
</div>

