<div class="menu-container">
    <a href="#home">Home</a>
    <div class="menu-dropdown">
        <button class="menu-dropbtn">Products</button>
        <div class="menu-dropdown-content">
            <a href="#">Customer Management</a>
            <a href="#">Learning Management</a>
            <a href="#">Assessment</a>
        </div>
    </div>
    <a href="#services">Services</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    <div class="auth-component"></div>
</div>

