<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Authentication</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/Scripts/shim.min.js"></script>
    <script src="/Scripts/zone.js"></script>
    <script type="text/javascript" src="/scripts/easyXDM/easyXDM.min.js"></script>
    <script type="text/javascript">
    easyXDM.DomHelper.requiresJSON("/scripts/json2.js");
    </script>
    <link href="/Content/site.css" rel="stylesheet" />
    <link href="/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <authentication-app>HELLO...</authentication-app>
</body>
<script src="dist/authbuild.js"></script>
</html>

